<div class="modal-zoom">
	<img src="{{ path }}img/close.png" alt="close">
	<img src="{{ promopic }}" alt="{{ promoalt }}" class="promo">
	<div class="clearfix">
	</div>
	<time>
		{{ rightdate }}
	</time>
	
	<div class="clearfix">
	</div>

	<span class="heading">
		{{ righttitle }}
	</span>

	<div class="col-md-8 col-md-offset-2 zoomed">
		<div class="discount__huge">
			-25%
		</div>
		<img src="{{ path }}img/fry/Картинка-Шашлык-в-бруснич-соусе.png" alt="TITLE">
	</div>

	<div class="clearfix">
	</div>

	<h4>
		{{ product.1.title }}
	</h4>


</div>