<div class="modal-sausage">
	<img src="{{ path }}img/close.png" alt="close">
	<img src="{{ promopic }}" alt="{{ promoalt }}" class="promo">
	<div class="clearfix">
	</div>
	<time>
		{{ leftdate }}
	</time>

	<div class="clearfix">
	</div>

	<span class="heading">
		{{ lefttitle }}
	</span>

	<div class="good col-md-3 col-md-offset-1">
		<div class="picture">
			<div class="faded">
				{{ product.0.oldprice }} р.
			</div>
			<div class="price">
				{{ product.0.price }} р.
			</div>
			<img src="{{ product.0.image }}" alt="{{ product.0.title }}{{ product.0.subtitle }}">
		</div>
		<h4>
			{{ product.0.title }}
			<span>
				{{ product.0.subtitle }}
			</span>
		</h4>
	</div>

	<div class="good col-md-2 col-md-offset-2">
		<div class="picture">
			<div class="faded">
				{{ modal.0.oldprice }} р.
			</div>
			<div class="price">
				{{ modal.0.price }} р.
			</div>
			<img src="{{ modal.0.image }}" alt="{{ modal.0.title }}{{ produmodalct.0.subtitle }}">
		</div>
		<h4>
			{{ modal.0.title }}
			<span>
				{{ modal.0.subtitle }}
			</span>
		</h4>
	</div>

	<div class="col-xs-12 text-center">
		<img src="{{ path }}img/self.png" alt="self">
	</div>


	<div class="good col-md-2 col-md-offset-3">
		<div class="picture">
			<div class="faded">
				{{ modal.1.oldprice }} р.
			</div>
			<div class="price">
				{{ modal.1.price }} р.
			</div>
			<img src="{{ modal.1.image }}" alt="{{ modal.1.title }}{{ modal.1.subtitle }}">
		</div>
		<h4>
			{{ modal.1.title }}
			<span>
				{{ modal.1.subtitle }}
			</span>
		</h4>
	</div>


	<div class="good col-md-2 col-md-offset-2">
		<div class="picture">
			<div class="faded">
				{{ modal.2.oldprice }} р.
			</div>
			<div class="price">
				{{ modal.2.price }} р.
			</div>
			<img src="{{ modal.2.image }}" alt="{{ modal.2.title }}{{ modal.2.subtitle }}">
		</div>
		<h4>
			{{ modal.2.title }}
			<span>
				{{ modal.2.subtitle }}
			</span>
		</h4>
	</div>


</div>