<div class="modal-fry">
	<img src="{{ path }}img/close.png" alt="close">
	<img src="{{ promopic }}" alt="{{ promoalt }}" class="promo">
	<div class="clearfix">
	</div>
	<time>
		{{ leftdate }}
	</time>
	<div class="clearfix">
	</div>
	<span class="heading">
		{{ lefttitle }}
	</span>

	<div class="good col-md-3 col-md-offset-1">
		<div class="picture">
			<div class="faded">
				{{ product.1.oldprice }} р.
			</div>
			<div class="price">
				{{ product.1.price }} р.
			</div>
			<img src="{{ product.0.image }}" alt="{{ product.0.title }}{{ product.0.subtitle }}">
		</div>
		<h4>
			{{ product.1.title }}
			<span>
				{{ product.1.subtitle }}
			</span>
		</h4>
	</div>

	<div class="good col-md-2 col-md-offset-2">
		<div class="picture">
			<div class="faded">
				{{ modal2.0.oldprice }} р.
			</div>
			<div class="price">
				{{ modal2.0.price }} р.
			</div>
			<img src="{{ modal2.0.image }}" alt="{{ modal2.0.title }}{{ modal2.0.subtitle }}">
		</div>
		<h4>
			{{ modal2.0.title }}
			<span>
				{{ modal2.0.subtitle }}
			</span>
		</h4>
	</div>

	<div class="col-xs-12 text-center">
		<img src="{{ path }}img/self.png" alt="self">
	</div>


	<div class="good col-md-3 col-md-offset-2">
		<div class="picture">
			<div class="faded">
				{{ modal2.1.oldprice }} р.
			</div>
			<div class="price">
				{{ modal2.1.price }} р.
			</div>
			<img src="{{ modal2.1.image }}" alt="{{ modal2.1.title }}{{ modal2.1.subtitle }}">
		</div>
		<h4>
			{{ modal2.1.title }}
			<span>
				{{ modal2.1.subtitle }}
			</span>
		</h4>
	</div>


	<div class="good col-md-3 col-md-offset-1">
		<div class="picture">
			<div class="faded">
				{{ modal2.2.oldprice }} р.
			</div>
			<div class="price">
				{{ modal2.2.price }} р.
			</div>
			<img src="{{ modal2.2.image }}" alt="{{ modal2.2.title }}{{ modal2.2.subtitle }}">
		</div>
		<h4>
			{{ modal2.2.title }}
			<span>
				{{ modal2.2.subtitle }}
			</span>
		</h4>
	</div>


</div>